
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactlibrary">

  <!--  <receiver android:name="com.reactlibrary.Impl.OuiStepReceiverImpl">
    </receiver>

    <receiver android:name="com.reactlibrary.BootCompletedReceiver" >
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
        </intent-filter>
    </receiver>

    <service
        android:name="com.reactlibrary.Impl.OuiStepServiceImpl"
        android:enabled="true"
        android:exported="true"></service>

    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="false" />

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <uses-permission android:name="android.permission.INTERNET" />-->

</manifest>
  